{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %} Classe - {{classe}}{% endblock title %}
{% block body %}

{{ parent() }} 
  <div class="page-header" >
<h1> Classe - {{classe}}</h1> 
</div> 
<p> 
        <table class="table table-bordered  "> 
        <caption class="lead">
            <form  class="  " action="{{ path('anatomeasy_teacher_group', { 'idGroup': classe.id }) }}" {{ form_enctype(classeForm) }} method="POST" > 
                             
                        {{form_widget(classeForm.name)}}    
                        , classe de 
                        {{form_widget(classeForm.level)}}
                        {{form_rest(classeForm)}}  
                        <button type="submit" class="btn btn-mini "> modifier la classe</button>   
                    </form> 
                    
        <!-- Button to trigger modal -->
<a href="#myModal" data-target="#myModal" role="button" class="btn btn-success" data-toggle="modal"><i class="icon-plus icon-white"></i>Ajouter un devoir</a>
             
        </caption>
        <thead>
            <tr>
                <th><i class="icon-user"></i> Elèves</th>  
                <th> <i class="icon-list-alt"></i> Devoirs</th> 
            </tr>
        </thead>
        <tbody>  
        {% for eleve in classe.student %}  
            <tr>
                <td><a href="{{ path('anatomeasy_teacher_student', { 'idStudent': eleve.id }) }}">{{eleve.username}}</a></td>
                <td> 
                    {% for devoir in eleve.homework %}  
                        <ul class="list-devoir thumbnails">
                            {% if ((devoir.deadline|date("d/m/Y") - "now"|date("d/m/Y"))-1)<0  %}
                                <li class="span2"> 
                                    <strong>Terminé le {{devoir.deadline|date("d/m/Y")}}</strong>
                                </li> 
                            {% else %}
                                <li class="span2">
                                    <p class="text-warning">
                                    A rendre dans : {{(devoir.deadline|date("d/m/Y") - "now"|date("d/m/Y"))-1 }} jours(s).
                                    </p>
                                </li>  
                            {% endif %} 
                        </li>
                        {% for homeworkHasExercice in devoir.homeworkHasExercice %}
                            <li class="span2">
                                 
                                    <div class="boiteItemMenuTitre">
			                             <div class="boitItemMenuImg">
				                              <img src="/css/img/{{homeworkHasExercice.exercice.type|e}}.png" class="img-rounded" alt="{{homeworkHasExercice.exercice.type|e}}">
			                            </div>
			                            <div class="boitItemMenuText">
				                            <p> 
                                                [{{ homeworkHasExercice.exercice.level}}] {{ homeworkHasExercice.exercice.subjects}}
                                            </p>
                                {% if homeworkHasExercice.done == 1 %} 
                                     <p class="text-success homework-done"><strong>Fait </strong>
                                    </p>
                                {% elseif ((devoir.deadline|date("d/m/Y") - "now"|date("d/m/Y"))-1) %} 
                                     <p class="text-error homework-done"><strong>Non terminé</strong>
                                    </p>
                                {% endif %} 
			                            </div>
		                            </div> 
                            </li> 
                        {% endfor %}
                    </ul> 
                {% endfor %} 
                </td>
            </tr>
        {% endfor %}
        </tbody> 
    </table>
</p> 
        
        
 
<!-- Modal nouveau devoir -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="{{ path('anatomeasy_teacher_group_new_homework', { 'idGroup': classe.id }) }}" {{ form_enctype(devoirForm) }} method="POST"> 
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="myModalLabel">Ajouter un devoir de niveau {{ classe.level }}</h3>
        </div>
            <div class="modal-body">   
                <fieldset> 
            <p>{{form_widget(devoirForm)}}</p>
                </fieldset>
        </div>
            <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
            <button type="submit" class="btn btn-primary"><i class="icon-plus icon-white"></i> Ajouter le devoir</button>  
        </div>
    </form>
</div>
        
         


    
{% endblock body %}

{% block javascripts %}   
        <script src="{{ asset('/bundles/flobenanatomeasy/js/symfonyFormTools.js') }}" type="text/javascript" ></script>
        <script type="text/javascript">/*<![CDATA[*/    (function () {
         $(document).ready(function() { 
             showForm('floben_anatomeasybundle_homeworktype_homeworkHasExercice',true) ; 
         });
    })();/*]]>*/</script>
{% endblock javascripts %}  


