{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Accueil enseignant{% endblock title %}
{% block body %}

{% include "FloBenAnatomEasyBundle::indexmenu.html.twig" %}
{{ parent() }} 
  <div class="page-header" style="margin-top:60px;">
<h1>Bonjour {{ app.user.username }} !</h1>
<h3>{{ test }}</h3>
</div>
<p>
    <form {{ form_enctype(formClasse) }} method="post"  class="input-append">  
            {{ form_widget(formClasse.name) }}  
            {{ form_widget(formClasse.level) }}  
            {{ form_rest(formClasse) }}
       
          <button type="submit"  class="btn  btn-success" ><i class="icon-plus icon-white"></i></button> 
    </form>
       
</p>
<p> 
         
        {% for classe in classes %}
    <table class="table table-bordered table-striped table-hover table-condensed"> 
        <caption class="lead">{{ classe.name }}, classe de {{ classe.level }}  
        
            <a href="{{ path('anatomeasy_teacher_group', { 'id': classe.id }) }}" role="button"  id="homework_{{ classe.id }}" class="btn btn-small btn-success" data-toggle="modal">
            <i class="icon-zoom-in icon-white"></i> Voir la classe 
            </a>  
        </caption>
        <thead>
            <tr>
                <th><i class="icon-user"></i> Elèves</th>  
                <th> <i class="icon-list-alt"></i> Devoirs</th> 
            </tr>
        </thead>
        <tbody> 
        {% for eleve in classe.student %}
            <tr>
                <td>{{eleve.username}}</td>
                <td>{% for homework in eleve.homework %}
                         {{homework}} 
                    {% endfor %}
                </td>
            </tr>
        {% endfor %} 
            <tr>
                <td >
                    <form  class="input-append span5" action="{{ path('anatomeasy_teacher_index') }}" {{ form_enctype(formClasse) }} method="POST" class="fos_user_registration_register"> 
                    
                        {{form_widget(classeForms[loop.index-1].username)}} 
                        {{form_widget(classeForms[loop.index-1].password)}}  
                        {{form_widget(classeForms[loop.index-1].group)}}  
                        {{form_widget(classeForms[loop.index-1]._token)}} 
                            <button type="submit" class="btn"><i class="icon-user"></i> Ajouter un élève</button>  
                    </form>
                </td>
                <td>
                </td>
            </tr> 
        </tbody> 
    </table>
    <hr/>
        {% endfor %}  
        
        
    <script type="text/javascript">/*<![CDATA[*/    (function () {
         
          
            var $container = $('div #floben_anatomeasybundle_grouptype_student');
            
                var $prototype = $($container.attr('data-prototype'));
                $container.append($prototype);
    })();/*]]>*/</script>
    
    
</p>
{% endblock body %}





