{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Accueil enseignant{% endblock title %}
{% block body %}

{% include "FloBenAnatomEasyBundle:Teacher:teachermenu.html.twig" %}
{{ parent() }} 
  <div class="page-header" style="padding-top:30px;">
<h1>Bonjour {{ app.user.username }} !</h1>
<h3>{{ test }}</h3>
<p>
    <form {{ form_enctype(form) }} method="post">
        <div class="input-append"> 
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }} 
    {{ form_errors(form.level) }}
    {{ form_widget(form.level) }} 
          <button type="submit"  class="btn  btn-primary btn-success" ><i class="icon-plus icon-white"></i></button>
          
        </div> 
    </form>  
   
</p>
</div>
{% endblock body %}


