{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Accueil enseignant{% endblock title %}
{% block body %}

{% include "FloBenAnatomEasyBundle::indexmenu.html.twig" %}
{{ parent() }} 
  <div class="page-header" >
<h1> {{ eleve.username}}, {{eleve.getGroup}}  </h1> 
</div>
<p>
<div style="display:inline-block">
    <h2>Exercices réalisés</h2>
    <div class="span4">
        <h3>Par thème</h3>
        <div id="subjectsPie" style="width:300px;height:300px"></div>
    </div>
    <div class="span4">
        <h3>Par type</h3>
        <div id="typePie" style="width:300px;height:300px;clear:right;"></div>
    </div> 
    <div class="span4"></div> 
</div>
                     <hr>   

<script type="text/javascript">/*<![CDATA[*/    (function () {
    $(document).ready(function() {
        var type=new Array(); 
        var subjects= new Array();
        {% for homework in eleve.getHomework %} 
            {% for ex in homework.homeworkHasExercice %} 
            if(subjects["{{ ex.exercice.subjects }}"]==undefined) subjects["{{ ex.exercice.subjects }}"]=0;
            if(type["{{ ex.exercice.type }}"]==undefined) type["{{ ex.exercice.type }}"]=0; 
                   subjects["{{ ex.exercice.subjects }}"]++;
                   type["{{ ex.exercice.type }}"]++; 
            {% endfor %}
        {% endfor %}
        {% for SB in eleve.sandbox %} 
           subjects["{{ SB.exercice.subjects }}"]++;
           type["{{ SB.exercice.type }}"]++;  
        {% endfor %}
        /*
        for(i=0;i<type.length;i++){ 
            type[i][0]=i;
              
            subjects[i][0]=i;
        }*/
        var subjectData = []; 
        var i=0;
        for (var key in subjects) { 
            subjectData[i] = { label: key, data: subjects[key] }  
            i++;
            // now you can use key as the key, value as the... you guessed right, value
        } 
        
        var typeData = [];
        var i=0;
        for (var key in type) {  
            typeData[i] = { label: key, data: type[key] }  
            i++;
            // now you can use key as the key, value as the... you guessed right, value
        }  
        
        
        
        $.plot($("#subjectsPie"), subjectData, 
        {
		    series: {
			    pie: {  
				    show: true,
				    radius: 1,
				    label: {
					    show: true,
					    radius: 3/4,
					    formatter: function(label, series){
					        var returnStr='<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+
					        '<br>'+(Math.round(series.percent))+'%</div>';
						    return returnStr;
					    },
					    background: { 
						    opacity: 0.5,
						    color: '#333'
					    }
				    }
			    }
		    },
	        legend: {
		        show: false
	        }
	    });
	
	
        
        $.plot($("#typePie"), typeData, 
        {
		    series: {
			    pie: {
				    show: true,
				    radius: 1,
				    label: {
					    show: true,
					    radius: 3/4,
					    formatter: function(label, series){
					        var returnStr='<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+
					        '<br>'+(Math.round(series.percent))+'%</div>';
						    return returnStr;
					    },
					    background: { 
						    opacity: 0.5,
						    color: '#333'
					    }
				    }
			    }
		    },
	        legend: {
		        show: false
	        }
	    });
        

        
	});
})();/*]]>*/</script>  




{% for homework in eleve.getHomework %} 
<h3>Devoir pour le {{eleve.homework[loop.revindex0].deadline|date("d/m/Y")}}</h3>   
    
    
<div class="accordion" id="accordion{{loop.index}}"> 
{% for homeworkHasExercice in eleve.homework[loop.revindex0].homeworkHasExercice %} 
        <div class="accordion-group"> 
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{loop.parent.loop.index}}" href="#collapse{{ loop.parent.loop.index }}{{loop.index}}">
                    {{homeworkHasExercice.exercice}}
                  </a>
                </div>
                <div id="collapse{{ loop.parent.loop.index }}{{loop.index}}" class="accordion-body collapse{% if loop.index == 1 %} in{% endif %}">
                  <div class="accordion-inner">
                    {%if homeworkHasExercice.result %}
                    exercice<strong>{% if homeworkHasExercice.result.success %}
                                    Réussi
                                {% else %}
                                    Echoué
                                {% endif %} 
                                </strong>
                        le : <strong>{{homeworkHasExercice.result.date|date("d/m/Y")}}</strong>
                        en <strong>{{homeworkHasExercice.result.secondSpent}}</strong> secondes.
                        score : <strong>{{homeworkHasExercice.result.score}}% !</strong>
                        <h3>Cet exercice en mode "Bac à sable"</h3>
                        <script type="text/javascript">/*<![CDATA[*/    (function () {
                                 $(document).ready(function() {
                         var scoreArray=[];
                         var timeArray=[];
                         var dateArray=[];
                        {% for sandbox in eleve.sandbox %} 
                           {% if((sandbox.exercice.level == homeworkHasExercice.exercice.level) and
                               (sandbox.exercice.subjects == homeworkHasExercice.exercice.subjects) and
                               (sandbox.exercice.type == homeworkHasExercice.exercice.type))%}
                           scoreArray.push([{{ (sandbox.result.date|date("d/m/Y") - "now"|date("d/m/Y"))  }}, {{sandbox.result.score}}]);
                           timeArray.push([{{ sandbox.result.date|date("d/m/Y") }}, {{sandbox.result.secondSpent}}]);
                           dateArray.push("{{sandbox.result.date|date('d/m/Y')}}");  
                           {% endif %}
                        {% endfor %} 
                                     if(scoreArray[0]!=undefined){
                                        //s'il ya un historique 
                                         for(var i=0;i<scoreArray.length;i++){ 
                                            scoreArray[i][0]=i;
                                            timeArray[i][0]=i;
                                         }  
         $.plot($("#placeholder_{{ loop.parent.loop.index }}_{{loop.index}}"),
             [ { label: "Score (%)", threshold: { below: 20, color: "rgb(200, 20, 30)" }, data:  scoreArray },
               { label: "temps Passé (s)",threshold: { below: 20, color: "greenyellow" }, data:  timeArray } 
             ],
             { yaxis: { max: 101 },xaxis: { tickFormatter: function(val, axis) {  
             //alert(scoreArray.length+" | "+val+" | "+dateArray[val*2]);
                                           return " essai "+val*2+" :<br/>"+ dateArray[val*2];
                                           }}
                                           });
                                   }else{
                                    $("#placeholder_{{ loop.parent.loop.index }}_{{loop.index}}").html("Pas d'autres d'exercice");
                                   }
                                 });
                            })();/*]]>*/</script>  
                                
                        
                        <div id="placeholder_{{ loop.parent.loop.index }}_{{loop.index}}" style="width:900px;height:300px"></div>
                            
                            
                         
                    {% else %}
                        Exercice non terminé.
                    {% endif %}
                    
                  </div>
                </div> 
        </div> 


    {% endfor %}

</div> 
    
{% endfor %}
</p>
{% endblock body %}
{% block javascripts %}

<script language="javascript" type="text/javascript" src="{{ asset('/bundles/flobenanatomeasy/js/flot/excanvas.js') }}" ></script>
<script language="javascript" type="text/javascript" src="{{ asset('/bundles/flobenanatomeasy/js/flot/jquery.flot.js') }}" ></script>
<script language="javascript" type="text/javascript" src="{{ asset('/bundles/flobenanatomeasy/js/flot/jquery.flot.pie.js') }}" ></script>
  
{% endblock javascripts %}



