{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Accueil enseignant{% endblock title %}
{% block body %}

{% include "FloBenAnatomEasyBundle::indexmenu.html.twig" %}
{{ parent() }} 
  <div class="page-header" >
<h1> {{ eleve.username}}, {{eleve.getGroup}}  </h1> 
</div>
<p>
{% for homework in eleve.getHomework %} 
<h3>Devoir pour le {{homework.deadline|date("d/m/Y")}}</h3>   
    
    
<div class="accordion" id="accordion{{loop.index}}">
    {% for homeworkHasExercice in homework.homeworkHasExercice %} 
 
        <div class="accordion-group"> 
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{loop.parent.loop.index}}" href="#collapse{{ loop.parent.loop.index }}{{loop.index}}">
                    {{homeworkHasExercice.exercice}}
                  </a>
                </div>
                <div id="collapse{{ loop.parent.loop.index }}{{loop.index}}" class="accordion-body collapse{% if loop.index == 1 %} in{% endif %}">
                  <div class="accordion-inner">
                    {%if homeworkHasExercice.result %}
                        {{homeworkHasExercice.result}}
                        <h3>Cet exercice en mode "Bac à sable"</h3>
                        <script type="text/javascript">/*<![CDATA[*/    (function () {
                                 $(document).ready(function() {
                         var scoreArray=[];
                         var timeArray=[];
                        {% for sandbox in eleve.sandbox %} 
                           {% if((sandbox.exercice.level == homeworkHasExercice.exercice.level) and
                               (sandbox.exercice.subjects == homeworkHasExercice.exercice.subjects) and
                               (sandbox.exercice.type == homeworkHasExercice.exercice.type))%}
                           scoreArray.push([{{ (sandbox.result.date|date("d/m/Y") - "now"|date("d/m/Y"))  }}, {{sandbox.result.score}}]);
                           timeArray.push([{{ sandbox.result.date|date("d/m/Y") }}, {{sandbox.result.secondSpent}}]);
                           {% endif %}
                        {% endfor %} 
                                     if(scoreArray[0]!=undefined){
                                        //s'il ya un historique
                                        
                                         for(var i=1;i<scoreArray.length;i++){
                                            scoreArray[i][0]-=scoreArray[0][0];
                                            timeArray[i][0]-=scoreArray[0][0];
                                         }
                                        scoreArray[0][0]=0;
                                        timeArray[0][0]=0;
                                           
                                         $.plot($("#placeholder_{{ loop.parent.loop.index }}_{{loop.index}}"),
                                             [ { label: "Score (%)", threshold: { below: 20, color: "rgb(200, 20, 30)" }, data:  scoreArray },
                                               { label: "temps Passé (s)",threshold: { below: 20, color: "greenyellow" }, data:  timeArray } ], 
                                             { yaxis: { max: 100 },
                                               xaxis:{} });
                                   }
                                 });
                            })();/*]]>*/</script>  
                                
                        
                        <div id="placeholder_{{ loop.parent.loop.index }}_{{loop.index}}" style="width:400px;height:200px"></div>
                            
                            
                         
                    {% else %}
                        Exercice non terminé.
                    {% endif %}
                    
                  </div>
                </div> 
        </div> 


    {% endfor %}

</div> 
    
{% endfor %}
</p>
{% endblock body %}
{% block javascripts %}

<script language="javascript" type="text/javascript" src="{{ asset('/bundles/flobenanatomeasy/js/flot/excanvas.js') }}" ></script>
<script language="javascript" type="text/javascript" src="{{ asset('/bundles/flobenanatomeasy/js/flot/jquery.flot.js') }}" ></script>
<script language="javascript" type="text/javascript" src="{{ asset('/bundles/flobenanatomeasy/js/flot/jquery.flot.time.js') }}" ></script>
  
{% endblock javascripts %}



