
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="iso-8859-1" />
        <title>Anatom-Easy - {% block title %}{% endblock %} </title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %} 
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap/css/bootstrap.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap/css/bootstrap-responsive.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/clippy/build/clippy.css')}}"></script> 
		<link rel="stylesheet" type="text/css" href="{{ asset('css/mainStyle.css')}}" /> 
        {% endblock %}

    </head>
    <body>
      
            {% block body %}
                
                {% include "FloBenAnatomEasyBundle::indexmenu.html.twig" %} 

            {% endblock %} 
        </div>
            <script type="text/javascript" src="{{ asset('css/jquery-1.9.1.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.js')}}"></script>
            <script type="text/javascript" src="{{ asset('css/clippy/build/clippy.min.js')}}"></script>  
        {% block javascripts %} 
        {% endblock %}
    </body>
	
	
</html>


