{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Connection{% endblock title %}
{% block body %}


{{ parent() }}

	<div id="navBar">
		<a href="{{path('anatomeasy_student_index')}}">
		<div id="retourMenuBox" class="barreButton">
			<div id="retourMenuBoxImg">
				<img src="css/img/icone_retour_main.png"/>
			</div>
			<div id="retourMenuBoxTxt">
			menu principal</span></a>
			</div>
		</div>
		</a>
		<div id="navBarTitre">
			<h1>Choisi le niveau de ton exercice</h1>
		</div>
	</div>
<div id="devoir" class="itemMenu lienNiveau CE1">
	<a href="{{path('anatomeasy_student_exercices', {'idExercice': idExercice ,'idTheme': idTheme,'idNiveau':'CE1'}) }}" ><h1 class="titreMenu">CE1</h1></a>
</div>

<div id="cours" class="itemMenu lienNiveau CE2">
	<a href="{{path('anatomeasy_student_exercices', {'idExercice': idExercice ,'idTheme': idTheme,'idNiveau':'CE2'}) }}" ><h1 class="titreMenu">CE2</h1></a>
</div>

<div id="cours" class="itemMenu lienNiveau CM1">
	<a href="{{path('anatomeasy_student_exercices', {'idExercice': idExercice ,'idTheme': idTheme,'idNiveau':'CM1'}) }}" ><h1 class="titreMenu">CM1</h1></a>
</div>

<div id="cours" class="itemMenu lienNiveau CM2">
	<a href="{{path('anatomeasy_student_exercices', {'idExercice': idExercice ,'idTheme': idTheme,'idNiveau':'CM2'}) }}" ><h1 class="titreMenu">CM2</h1></a>
</div>

{% endblock body %}
{% block javascripts %}
  
        <script src="{{ asset('bundles/flobenanatomeasy/js/clippyTools.js') }}" type="text/javascript" ></script> 
        <script type="text/javascript">     
            $(document).ready(function() { 
                var optionArray= new Array(); 
                clippyAgent(optionArray,'Choisi le niveau du cours que tu souhaites apprendre!',8000);
            }); </script>
{% endblock javascripts %} 
