{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Accueil &eacute;l&egrave;ve{% endblock title %}
{% block body %}
{{ parent() }}




	<div id="navBar">
		<a href="{{path('fos_user_security_logout')}}">
			<div id="retourMenuBox" class="barreButton">
				<div id="retourMenuBoxImg">
					<img src="/css/img/logout1.gif"/>
				</div>
				<div id="retourMenuBoxTxt">
					<span>deconnexion</span></a>
				</div>
			
			</div>
		</a>
		
		
		<div id="navBarTitre">
			<h1>Bienvenue sur ta page {{app.user.username}}!</h1>
		</div>
	</div>
{% if  app.user.homework %} 

<div id="devoir" class="itemMenu"> 
<h1 class="titreMenu">Devoirs</h1>
  
    {% for devoir in app.user.homework %}
        {% if "now"|date("d/m/Y") < devoir.deadline|date("d/m/Y") %}
            <ul class="thumbnails">
                {% if ((devoir.deadline|date("d/m/Y") - "now"|date("d/m/Y"))-1) == 0 %}
                    <li class="span2"> 
                        <p class="text-error">A faire <strong>aujourd'hui</strong></p>
                    </li>
                    
                {% elseif ((devoir.deadline|date("d/m/Y") - "now"|date("d/m/Y"))-1) == 1 %}
                    <li class="span2">
                        <p class="text-warning">
                        A faire avant le : {{devoir.deadline|date("d/m/Y")}}<br/>
                        <strong>1 jour restant </strong>
                        </p>
                    </li> 
                {% elseif ((devoir.deadline|date("d/m/Y") - "now"|date("d/m/Y"))-1) <5 %}
                    <li class="span2"> 
                        <p class="text-info">
                        A faire avant le : {{devoir.deadline|date("d/m/Y")}}<br/>
                        <strong>{{(devoir.deadline|date("d/m/Y") - "now"|date("d/m/Y"))-1 }} jour(s) restant(s)</strong>
                        </p>
                    </li>
                
                {% else %}
                    <li class="span2"> 
                        <p class="text-success">
                        A faire avant le : {{devoir.deadline|date("d/m/Y")}}<br/>
                        <strong>{{(devoir.deadline|date("d/m/Y") - "now"|date("d/m/Y"))-1 }} jour(s) restant(s)</strong>
                        </p>
                    </li> 
                {% endif %} 
            </li>
            {% for homeworkHasExercice in devoir.homeworkHasExercice %}
                <li class="span2">
                    <a href="#" class="thumbnail">
                        <img src="/css/img/{{homeworkHasExercice.exercice.type|e}}.jpg" class="img-rounded" alt="{{homeworkHasExercice.exercice.type|e}}">{{ homeworkHasExercice.exercice.level}} 
                        {{ homeworkHasExercice.exercice.subjects}}
                    </a>
                </li> 
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

</div>
{% endif %}


<div id="cours" class="itemMenu">
	<h1 class="titreMenu">Cours</h1>
	<div class="boiteItemMenu">
		<div class="boiteItemMenuTitre">
			<div class="boitItemMenuImg">
				 <div class="boitItemMenuImg">
					<img src="/css/img/lungs.png"/>
				</div>
				<div class="boitItemMenuText">
					<h2>Le systeme respiratoire </h2>
				</div>
			</div>
		</div>
		<div class="boiteItemMenuBtnBox">
			<div class="boiteItemMenuBtn coursWithLevel">
				<a href="{{path('anatomeasy_student_cours', {'idCours': 'le_systeme_respiratoire' ,'idNiveau':app.user.group.level}) }}" >Le cours de ton niveau</a>
			</div>
			<div class="boiteItemMenuBtn coursWithoutLevel">
				<a href="{{path('anatomeasy_student_niveaux', {'id':'le_systeme_respiratoire'}) }}" >Choisi un niveau</a>
			</div>
       </div>
	</div>
	<div class="boiteItemMenu">
		<div class="boiteItemMenuTitre">
			<div class="boitItemMenuImg">
					<img src="/css/img/stomach.png"/>
			</div>
			<div class="boitItemMenuText">
					<h2>Le systeme digestif </h2>
		    </div>
	    </div>
	   <div class="boiteItemMenuBtnBox">
			<div class="boiteItemMenuBtn coursWithLevel">
                <a href="{{path('anatomeasy_student_cours', {'idCours': 'le_systeme_digestif' ,'idNiveau':app.user.group.level}) }}" >Le cours de ton niveau</a>
			</div>
			<div class="boiteItemMenuBtn coursWithoutLevel"> 
                <a href="{{path('anatomeasy_student_niveaux', {'id':'le_systeme_digestif'}) }}" >Choisi un niveau</a>
			</div>
       </div>
	</div>
	<div class="boiteItemMenu">
		<div class="boiteItemMenuTitre">
			 <div class="boitItemMenuImg">
				  <img src="/css/img/cellule-malade.png"/>
			</div>
			<div class="boitItemMenuText">
					<h2>Le systeme lymphatique </h2>
			</div>
		</div>
		<div class="boiteItemMenuBtnBox">
			
			<div class="boiteItemMenuBtn coursWithLevel">
				
                <a href="{{path('anatomeasy_student_cours', {'idCours': 'le_systeme_lymphatique' ,'idNiveau':app.user.group.level}) }}" >Le cours de ton niveau</a>
			</div>

			<div class="boiteItemMenuBtn coursWithoutLevel">
                <a href="{{path('anatomeasy_student_niveaux', {'id':'le_systeme_lymphatique'}) }}" >Choisi un niveau</a>
			</div>
       </div>
	</div>

</div>
	
<div id="exercices" class="itemMenu">
	<h1 class="titreMenu">Exercices</h1>
	<div class="boiteItemMenu qcm">
		<div class="boiteItemMenuTitre">
			 <div class="boitItemMenuImg">
				  <img src="/css/img/interrogation.png"/>
			</div>
			<div class="boitItemMenuText">
					<h2>QCM</h2>
			</div>
		</div>
		<div class="boiteItemMenuBtnBox">
			<div class="boiteItemMenuBtn">
				
                <a href="{{path('anatomeasy_student_exercices', {'idExercice': 'qcm' ,'idTheme': 'le_systeme_digestif' ,'idNiveau':app.user.group.level}) }}" >Le systeme digestif</a>
			</div>
			<div class="boiteItemMenuBtn">
                <a href="{{path('anatomeasy_student_exercices', {'idExercice': 'qcm' ,'idTheme': 'le_systeme_respiratoire' ,'idNiveau':app.user.group.level}) }}" >Le systeme respiratoire</a>
			</div>
			<div class="boiteItemMenuBtn">
                <a href="{{path('anatomeasy_student_exercices', {'idExercice': 'qcm' ,'idTheme': 'le_systeme_lymphatique' ,'idNiveau':app.user.group.level}) }}" >Le systeme lymphatique</a>
			</div>
       </div>
	</div>
	<div class="boiteItemMenu pendu">
		<div class="boiteItemMenuTitre">
			 <div class="boitItemMenuImg">
				  <img src="{{asset('/css/img/little-pendu.png')}}"/>
			</div>
			<div class="boitItemMenuText">
					<h2>PENDU</h2>
			</div>
		</div>
		<div class="boiteItemMenuBtnBox">
			<div class="boiteItemMenuBtn">
                <a href="{{path('anatomeasy_student_exercices', {'idExercice': 'pendu' ,'idTheme': 'le_systeme_digestif' ,'idNiveau':app.user.group.level}) }}" >Le systeme digestif</a>
			</div>
			<div class="boiteItemMenuBtn">
                <a href="{{path('anatomeasy_student_exercices', {'idExercice': 'pendu' ,'idTheme': 'le_systeme_respiratoire' ,'idNiveau':app.user.group.level}) }}" >Le systeme respiratoire</a>
			</div>
			<div class="boiteItemMenuBtn">
                <a href="{{path('anatomeasy_student_exercices', {'idExercice': 'pendu' ,'idTheme': 'le_systeme_lymphatique' ,'idNiveau':app.user.group.level}) }}" >Le systeme lymphatique</a>
			</div>
       </div>
	</div>
	<div class="boiteItemMenu pussle">
		<div class="boiteItemMenuTitre">
			 <div class="boitItemMenuImg">
				  <img src="/css/img/corps.gif"/>
			</div>
			<div class="boitItemMenuText">
					<h2>PUZZLE</h2>
			</div>
		</div>
		<div class="boiteItemMenuBtnBox">
			<div class="boiteItemMenuBtn">
                <a href="{{path('anatomeasy_student_exercices', {'idExercice': 'puzzle' ,'idTheme': 'le_systeme_digestif' ,'idNiveau':app.user.group.level}) }}" >Le systeme digestif</a>
			</div>
			<div class="boiteItemMenuBtn">
                <a href="{{path('anatomeasy_student_exercices', {'idExercice': 'puzzle' ,'idTheme': 'le_systeme_respiratoire' ,'idNiveau':app.user.group.level}) }}" >Le systeme respiratoire</a>
			</div>
			<div class="boiteItemMenuBtn">
                <a href="{{path('anatomeasy_student_exercices', {'idExercice': 'puzzle' ,'idTheme': 'le_systeme_lymphatique' ,'idNiveau':app.user.group.level}) }}" >Le systeme lymphatique</a>
			</div>
       </div>
	</div>
</div>

<div id="recreation" class="itemMenu">
	<h1 class="titreMenu">Recreation</h1>
	
	<div class="boiteItemMenu video">
		<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'videos'  })}}">
			<div class="boiteItemMenuTitre itemRecreation">
				 <div class="boitItemMenuImg">
					  <img src="/css/img/videos.gif"/>
				</div>
				<div class="boitItemMenuText">
						<h2>VIDEOS</h2>
				</div>
			</div>
		</a>
	</div>

	
	<div class="boiteItemMenu">
		<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'lectures' })}}">
			<div class="boiteItemMenuTitre itemRecreation">
				 <div class="boitItemMenuImg">
					  <img src="/css/img/lecture.png"/>
				</div>
				<div class="boitItemMenuText">
						<h2>LECTURES</h2>
				</div>
			</div>
		</a>
	</div>
	
	<div class="boiteItemMenu">
		<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'jeux'  })}}">
			<div class="boiteItemMenuTitre itemRecreation">
				 <div class="boitItemMenuImg">
					  <img src="/css/img/jeux.png"/>
				</div>
				<div class="boitItemMenuText">
						<h2>BOITE A JEUX</h2>
				</div>
			</div>
		</a>
	</div>
</div>



{% endblock body %}
{% block javascripts %}
 
        <script src="{{ asset('/css/clippy/build/clippy.js') }}" type="text/javascript" ></script> 
        <script src="{{ asset('/bundles/flobenanatomeasy/js/clippyTools.js') }}" type="text/javascript" ></script> 
        <script type="text/javascript">     
            $(document).ready(function() { 
                var optionArray= new Array(); 
                optionArray[0]= {item:'#devoir h1  ', event:'mouseenter', action: 'speak', speech: 'Les devoirs : ici , tu peux consulter tes devoirs !' };
                optionArray[1]= {item:'#cours h1', event:'mouseenter', action: 'speak', speech: 'Les Cours : ici , tu peux consulter les le\347ons !' }; 
                optionArray[2]= {item:'#exercices h1', event:'mouseenter', action: 'speak', speech: 'Les Exercices : ici , tu peux t\'exercer en t\'amusant !' };
                optionArray[3]= {item:'#recreation h1', event:'mouseenter', action: 'speak', speech: 'La R&eacute;cr&eacute;ation : ici , tu trouveras d\'autres activit\351s !' };
                optionArray[4]= {item:'#cours .coursWithLevel', event:'mouseenter', action: 'speak', speech: 'acc\351der directement au cours de {{app.user.group.level}}!' };
                optionArray[5]= {item:'#cours .coursWithoutLevel', event:'mouseenter', action: 'speak', speech: 'choisir le niveau du cours.' };
                optionArray[6]= {item:'#exercices .qcm img', event:'mouseenter', action: 'speak', speech: 'Le Questionnaire \340 choix multiple : trouve les bonnes r\351ponses' }; 
                optionArray[7]= {item:'#exercices .puzzle img', event:'mouseenter', action: 'speak', speech: 'Replace les pi\350ces au bon endroit' }; 
                optionArray[8]= {item:'#exercices .pendu img', event:'mouseenter', action: 'speak', speech: 'Le Pendu : Trouve le mot myst\350re avec le moins d\'essai possible!' };  
                clippyAgent(optionArray,'La page d\'accueil! D\'ici, tu peux acc\351der \340 toutes les activit\351s!',8000);
            }); </script>
{% endblock javascripts %} 






