{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Connection{% endblock title %}
{% block body %}
{{ parent() }}

{% include "FloBenAnatomEasyBundle:Student:studentmenu.html.twig" %}
<h1>Bonjour "nom" !</h1>
<div id="devoir" class="well itemMenu">
<h1 class="titreMenu">Devoirs</h1>
        <div class="row-fluid">
         </div>
</div>
<div id="cours" class="well itemMenu">
	<h1 class="titreMenu">Cours</h1>
	<div class="boiteItemMenu">
		 <div class="boitItemMenuImg">
			<img src="../../css/img/lungs.png"/>
		</div>
		<div class="boitItemMenuText">
			<a href="{{path('anatomeasy_student_niveaux', {'id':'le_systeme_respiratoire'}) }}" class="thumbnail"> Le systeme respiratoire</a>
		</div>
	 </div>
	 <div class="boiteItemMenu">
		 <div class="boitItemMenuImg">
				<img src="../../css/img/stomach.png"/>
		</div>
		<div class="boitItemMenuText">
                <a href="{{path('anatomeasy_student_niveaux', {'id':'le_systeme_digestif'}) }}" class="thumbnail"> Le tube digestif </a>
       </div>
	</div>
	<div class="boiteItemMenu">
		 <div class="boitItemMenuImg">
			  <img src="../../css/img/cellule-malade.png"/>
		</div>
		<div class="boitItemMenuText">
              <a href="{{path('anatomeasy_student_niveaux', {'id':'le_systeme_lymphatique'}) }}" class="thumbnail"> Le systeme lymphatique</a>
		</div>
	</div>
</div>
<div id="cours" class="well itemMenu">
	<h1 class="titreMenu">Exercices</h1>
	<div class="row-fluid">
		<ul class="thumbnails">
              <li class="span3">
                <a href="{{path('anatomeasy_student_niveaux', {'id':'Le_systeme_respiratoire'}) }}" class="thumbnail"> Le systeme respiratoire</a>
              </li>
              <li class="span3">
                <a href="{{path('anatomeasy_student_niveaux', {'id':'Le_tube_digestif'}) }}" class="thumbnail"> Le tube digestif </a>
              </li>
              <li class="span3">
				<a href="{{path('anatomeasy_student_niveaux', {'id':'Le_systeme_lymphatique'}) }}" class="thumbnail"> Le systeme lymphatique</a>
              </li>
       
            </ul>
         </div>
</div>

<div id="cours" class="well itemMenu">
	<h1 class="titreMenu">recreation</h1>
	<div class="row-fluid">
		<ul class="thumbnails">
              <li class="span3">
                <a href="{{path('anatomeasy_student_niveaux', {'id':'Le_systeme_respiratoire'}) }}" class="thumbnail"> Les vidéos</a>
              </li>
              <li class="span3">
                <a href="{{path('anatomeasy_student_niveaux', {'id':'Le_tube_digestif'}) }}" class="thumbnail"> Le liens</a>
              </li>
              <li class="span3">
				<a href="{{path('anatomeasy_student_niveaux', {'id':'Le_systeme_lymphatique'}) }}" class="thumbnail"> Le systeme lymphatique</a>
              </li>
       
            </ul>
         </div>
</div>



{% endblock body %}
