{% extends "FloBenAnatomEasyBundle::base.html.twig" %}

{% block title %}Connection{% endblock title %}
{% block body %}


{{ parent() }}

	<div id="navBar">
		<div id="retourMenuBox" class="barreButton">
			<div id="retourMenuBoxImg">
				<img src="/css/img/icone_retour_main.png"/>
			</div>
			<div id="retourMenuBoxTxt">
				<a href="{{path('anatomeasy_student_index')}}">menu principal</span></a>
			</div>
		</div>
		<div id="navBarTitre">
			<h1>Choisi le niveau que tu veux</h1>
		</div>
	</div>
<div id="devoir" class="itemMenu lienNiveau">
	<a href="{{path('anatomeasy_student_cours', {'idCours': idCours ,'idNiveau':'CE1'}) }}" ><h1 class="titreMenu">CE1</h1></a>
</div>

<div id="cours" class="itemMenu lienNiveau">
	<a href="{{path('anatomeasy_student_cours', {'idCours': idCours ,'idNiveau':'CE2'}) }}" ><h1 class="titreMenu">CE2</h1></a>
</div>

<div id="cours" class="itemMenu lienNiveau">
	<a href="{{path('anatomeasy_student_cours', {'idCours': idCours ,'idNiveau':'CM1'}) }}" ><h1 class="titreMenu">CM1</h1></a>
</div>

<div id="cours" class="itemMenu lienNiveau">
	<a href="{{path('anatomeasy_student_cours', {'idCours': idCours ,'idNiveau':'CM2'}) }}" ><h1 class="titreMenu">CM2</h1></a>
</div>

{% endblock body %}