{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CM2{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme digestif (CM2){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CM1'}) }}">Cours precedent (CM1)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="">tu as finis</a>{% endblock coursSuivant %}
	<div id="global">
	
	<h1>Premi&egrave;re &eacute;tape : la bouche</h1>
	<span>
		La bouche constitue la porte d&acute;entr&eacute;e de notre corps pour tout ce que nous consommons de liquide ou de solide. Bien s&ucirc;r, l&acute;air peut aussi circuler dans la bouche, elle est donc aussi impliqu&eacute;e dans la respiration.    
	</span>
	<div class="boiteImgCours"><img src="/css/img/cours/bouche.png"/></div>                                                                                                      
	<span>
		Le r&ocirc;le essentiel de la bouche dans le syst&egrave;me digestif est la mastication.
		La mastication c&acute;est le mouvement rythmique d&acute;ouverture et de fermeture de la bouche qui sert &agrave; broyer les aliments.
		La mastication se fait gr&acirc;ce au mouvement de la m&acirc;choire inf&eacute;rieure (appel&eacute;e mandibule) sur la m&acirc;choire sup&eacute;rieure. En effet, il n&acute;y a que la m&acirc;choire inf&eacute;rieure qui soit mobile, l&acute;autre est soud&eacute;e au cr&acirc;ne et donc incapable de bouger.
		La mastication sert &agrave; d&eacute;couper la nourriture en tout petits morceaux. Cela est particuli&egrave;rement important pour les substances difficiles &agrave; dig&eacute;rer. Plus les particules de nourriture sont petites, plus elles seront faciles &agrave; dig&eacute;rer.
		C&acute;est le travail des dents que de couper et d&eacute;chiqueter la nourriture.
		<ul>
		<li> Les incisives servent &agrave; couper les aliments.</li>
		<li>Les canines servent &agrave; d&eacute;chiqueter les membranes coriaces ( comme la viande).</li>
		<li>Les molaires servent &agrave; broyer la nourriture.</li>
		</ul>
	</span>

	<div class="boiteImgCours"><img src="/css/img/cours/dent.png"/></div> 

	<span>
	La langue assure le brassage lors de la mastication.
	La salive est aussi tr&egrave;s importante pour la digestion bien qu&acute;elle ne soit pas indispensable. 
	Elle remplit trois r&ocirc;les essentiels :
	<ul>
	<li>elle commence la digestion.</li>
	<li>elle lubrifie la nourriture pour faciliter l&acute;avalage.</li>
	<li>elle d&eacute;truit certaines bact&eacute;ries et aide ainsi le syst&egrave;me immunitaire.</li>  
	</ul>
	</span> 

	<h1>Deuxi&egrave;me &eacute;tape : l&acute;oesophage  </h1>
	<span>
	Lorsque la mastication est termin&eacute;e, on d&eacute;glutit, c&acute;est-&agrave;-dire que l&acute;on avale la nourriture qui passe dans le pharynx (ce qu&acute;on appelle gorge).
	Le pharynx est un carrefour qui communique avec la trach&eacute;e (tuyau pour la respiration), l&acute;&oelig;sophage et m&ecirc;me la cavit&eacute; nasale. Lorsque l&acute;on avale, l&acute;extr&eacute;mit&eacute; sup&eacute;rieure de la trach&eacute;e se ferme gr&acirc;ce &agrave; l&acute;&eacute;piglotte et emp&ecirc;che ainsi tout autre substance que l&acute;air d&acute;entrer dans les poumons.         
	</span> 

	<div class="boiteImgCours"><img src="/css/img/cours/tete.png"/></div> 

	<span>
	L&acute;&oelig;sophage est un tuyau d&acute;une petite trentaine de cm qui &#147; pousse &#148; les aliments vers l&acute;estomac. A l&acute;int&eacute;rieur, il est tr&egrave;s lisse et recouvert d&acute;un liquide appel&eacute; mucus, ce qui permet aux aliments de glisser facilement.
	Les aliments que l&acute;on vient d&acute;avaler forment une boulette qui est pouss&eacute;e dans l&acute;&oelig;sophage gr&acirc;ce aux muscles de sa paroi.
	Ces muscles ressemblent &agrave; des anneaux qui se resserrent (contractions) les uns apr&egrave;s les autres toutes les 9 secondes. Ils font ainsi avancer les aliments, m&ecirc;me si l&acute;on mange couch&eacute; ou en poirier !        
	</span>

	<h1> Troisi&egrave;me &eacute;tape : l&acute;estomac </h1>
	<span>
	C&apos;est une poche musculeuse (form&eacute;e de muscles) &agrave; paroi triple et en forme de J. Sa surface int&eacute;rieure contient les glandes qui s&eacute;cr&egrave;tent le suc gastrique.
	<span>
	<div class="boiteImgCours"><img src="/css/img/cours/estomac.png"/></div>  
	<span>
	Gr&acirc;ce &agrave; ses muscles, l&acute;estomac va malaxer les aliments avec ce suc gastrique et les transformer en chyme. 
	Chyme : n.m. masse liquide partiellement dig&eacute;r&eacute;e apr&egrave;s l&acute;action de l&acute;estomac.
	Le suc gastrique contient de l&acute;acide chlorhydrique pour tuer les microbes et des enzymes (substances qui permettent de transformer les aliments en une sorte de bouillie semi-liquide). 
	L&acute;estomac peut recevoir entre un et deux litres de nourriture.

	Avant d&acute;entreprendre le malaxage des aliments, le dernier anneau de muscle de l&acute;&oelig;sophage appel&eacute; sphincter gastrooesophagien ou cardia, se referme afin d&acute;emp&ecirc;cher le reflux de nourriture.
	Sphincter : n.m. anneau de muscle qui se contracte pour fermer une ouverture.
	Une fois les aliments solides transform&eacute;s en chyme, ils se d&eacute;versent dans le duod&eacute;num, par contraction des muscles, en passant par le sphincter pylorique appel&eacute; pylore qui agit comme une vanne.

	</span>

	<div class="boiteImgCours"><img src="/css/img/cours/estomacZoom.png"/> </div>

	<h1>Quatri&egrave;me &eacute;tape : les intestins</h1>
	<span>
	L&apos;estomac laisse peu &agrave; peu passer la bouillie qui arrive dans l&apos;intestin. La premi&egrave;re partie de l&apos;intestin s&apos;appelle le duod&eacute;num ( 20cm de long). C&apos;est l&agrave; qu&apos;arrivent les sucs produits par deux glandes tr&egrave;s importantes, le foie et le pancr&eacute;as. 
		Le foie produit la bile qui fragmente les particules de graisses en tout petits morceaux. Le foie produit la bile en permanence, celle-ci est stock&eacute;e dans la v&eacute;sicule biliaire.
		Le pancr&eacute;as produit le suc pancr&eacute;atique qui ach&egrave;ve de fragmenter les derni&egrave;res particules alimentaires. 
	Les aliments continuent alors leur chemin vers l&acute;intestin gr&ecirc;le ( +- 7m de long). 
	La paroi de l&apos;intestin gr&ecirc;le est couverte par d&apos;innombrables replis qui augmentent consid&eacute;rablement sa surface. Tout ceci pour une bonne raison, augmenter la surface d&apos;absorption des substances solubles. Les substances passent dans le sang ou dans la lymphe pour &ecirc;tre ensuite transport&eacute;es &agrave; tous les autres organes du corps.
	Lymphe : n.f. liquide incolore se trouvant dans le corps et qui transporte des &eacute;l&eacute;ments nutritifs mais aussi des d&eacute;chets.( le plus gros organe lymphatique est la rate)
	Les d&eacute;chets passent ensuite dans le gros intestin appel&eacute; aussi colon (+- 1,5 m de long) o&ugrave; l&apos;eau sera absorb&eacute;e et o&ugrave; les d&eacute;chets deviendront solides. Le gros intestin abrite une foule de microbes (nomm&eacute;e flore intestinale) qui ach&egrave;veront de transformer les aliments. Les d&eacute;chets sont ensuite &eacute;vacu&eacute;s par l&apos;anus via le rectum qui est la derni&egrave;re partie de l&acute;intestin.
	</span>
	<div class="boiteImgCours"><img src="/css/img/cours/abdomen.png"/> </div>
	
	<div id="boiteBonus">
		<div id="boiteExo">
			<h1>Entraine toi sur les exercices du niveau CM2!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Qcm' ,'idTheme': 'La_digestion' ,'idNiveau':'CM2'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="/css/img/QCM.png"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>QCM</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Pendu' ,'idTheme': 'La_digestion' ,'idNiveau':'CM2'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="{{asset('/css/img/Pendu.png')}}"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PENDU</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Puzzle' ,'idTheme': 'La_digestion' ,'idNiveau':'CM2'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							    <img src="/css/img/Puzzle.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PUZZLE</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
		<div id="boiteMedia">
			<h1>Continu &agrave; apprendre &agrave; la r&eacute;cr&eacute;ation!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'videos'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="/css/img/videos.gif"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>VIDEOS</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'lectures' })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="/css/img/lecture.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>LECTURES</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'jeux'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="/css/img/jeux.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>BOITE A JEUX</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
	</div>
	</div>
{% endblock body %}
{% block javascripts %}
  
        <script src="{{ asset('/bundles/flobenanatomeasy/js/clippyTools.js') }}" type="text/javascript" ></script> 
        <script type="text/javascript">     
            $(document).ready(function() { 
                var optionArray= new Array(); 
               optionArray[0]= { action: 'speak', speech: "Lorsque tu auras termin\351, tu peux t\'entrainer sur l\'un des exercices en bas de page",timeout:'2000' }; 
			// optionArray[0]= {item:'#retourMenuBoxImg', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup&eacute;rieur, attention, assure toi d'avoir d'abord bien compris ce cours" };
			 optionArray[1]= {item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup\351rieur"};
			 optionArray[2]= { item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Attention, assure toi d'avoir d'abord bien compris celui-ci",timeout:'2000' }; 
			 optionArray[3]= {item:'#retourMenuBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton pour retourner \340 la page d'accueil" };
			 optionArray[4]= {item:'#coursPrecedBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau inf\351rieur"};
			 
			
			clippyAgent(optionArray,"Lis attentivement ce cours",8000);
				
            }); </script>
{% endblock javascripts %} 
