{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CM1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme digestif (CM1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': 'le_systeme_digestif' ,'idNiveau':'CM1'}) }}">Cours precedent (CM1)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': 'le_systeme_digestif' ,'idNiveau':'CM2'}) }}">Cours suivant (CM2)</a>{% endblock coursSuivant %}
	<div id="global">
	
	<h1>le trajet des aliments</h1>
	<span>
		Les aliments que nous mangeons passent dans notre corps &agrave; travers le tube digestif. Le tube digestif comprend : la bouche, l&apos;oesophage, l&apos;estomac, l&apos;intestin gr&ecirc;le (qui mesure 8m de longueur), le gros intestin et l&apos;anus.
		Les aliments progressent le long de la paroi de l&apos;intestin gr&acirc;ce aux contractions des muscles de cette paroi.
		Au cours de leur trajet dans le tube digestif, les aliments sont transform&eacute;s en substances solubles tr&egrave;s petites : les nutriments.
		Ils sont transform&eacute;s gr&acirc;ce &agrave; l&apos;action des sucs digestifs qui se trouvent dans les glandes digestives (glandes salivaires, foie, pancr&eacute;as).
		Les nutriments passent dans le sang qui va les distribuer &agrave; tous les organes du corps. Les d&eacute;chets (l&apos;eau et les morceaux qui ne peuvent &ecirc;tre r&eacute;duits en petites particules) passent dans le gros intestin et sont rejet&eacute;s dans les urines et dans les mati&egrave;res f&eacute;cales.
	</span>
	<div class="boiteImgCours"><img src="{{asset('css/img/cours/tubeDigestif.png')}}"/></div>

	<h1>C&apos;est quoi les nutriments ?</h1>
	<span>
		Les aliments que nous mangeons ne peuvent pas passer dans notre corps tels qu&apos;ils sont. Ils doivent &ecirc;tre broy&eacute;s, coup&eacute;s en minuscules parties qu&apos;on appelle les nutriments.
	</span>
	<span>
		Un nutriment est une substance nutritive soluble provenant de la digestion des aliments, utilisable par les organes.
		Exemple : le glucose est un nutriment utilis&eacute; par tous les organes.
		On appelle absorption intestinale le passage des nutriments &agrave; travers la paroi intestinale, depuis la cavit&eacute; de l&apos;intestin jusque dans le sang (ou, pour les produits de la digestion des lipides, passage dans la lymphe).
		On appelle villosit&eacute;s intestinales les petits replis, en forme de doigts, de 0,5 mm de long qui tapissent la paroi interne de l&apos;intestin gr&ecirc;le. Leur nombre consid&eacute;rable (plus de 10 millions) cr&eacute;e une grande surface de contact entre les aliments et la paroi intestinale : 140 m2 chez un adulte. On parle de surface d&apos;&eacute;change.
		L&apos;absorption est aussi favoris&eacute;e par la longueur de l&apos;intestin gr&ecirc;le, qui est de 6,7 &agrave; 7,6 m.
	</span>
	<div class="boiteImgCours"><img src="{{asset('css/img/cours/nutriments.gif')}}"/></div>
	
		<div class="boiteImgCours"><img src="{{asset('css/img/cours/appareilDigestif.png')}}"/> </div>
				<div id="boiteBonus">
			<div id="boiteExo">
			<h1>Entraine toi sur les exercices du niveau CM1!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Qcm' ,'idTheme': 'La_digestion' ,'idNiveau':'CM1'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="{{asset('css/img/QCM.png')}}"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>QCM</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Pendu' ,'idTheme': 'La_digestion' ,'idNiveau':'CM1'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="{{asset('css/img/Pendu.png')}}"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PENDU</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Puzzle' ,'idTheme': 'La_digestion' ,'idNiveau':'CM1'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							    <img src="{{asset('css/img/Puzzle.png')}}"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PUZZLE</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
		<div id="boiteMedia">
			<h1>Continu &agrave; apprendre &agrave; la r&eacute;cr&eacute;ation!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'videos'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="{{asset('css/img/videos.gif')}}"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>VIDEOS</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'lectures' })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="{{asset('css/img/lecture.png')}}"/>
						</div>
						<div class="boitItemBonusText">
							<h2>LECTURES</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'jeux'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="{{asset('css/img/jeux.png')}}"/>
						</div>
						<div class="boitItemBonusText">
							<h2>BOITE A JEUX</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
	</div>	
	</div>
		


{% endblock body %}
{% block javascripts %}
  
        <script src="{{ asset('bundles/flobenanatomeasy/js/clippyTools.js') }}" type="text/javascript" ></script> 
        <script type="text/javascript">     
            $(document).ready(function() { 
                var optionArray= new Array(); 
               optionArray[0]= { action: 'speak', speech: "Lorsque tu auras termin\351, tu peux t\'entrainer sur l\'un des exercices en bas de page",timeout:'2000' }; 
			// optionArray[0]= {item:'#retourMenuBoxImg', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup&eacute;rieur, attention, assure toi d'avoir d'abord bien compris ce cours" };
			 optionArray[1]= {item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup\351rieur"};
			 optionArray[2]= { item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Attention, assure toi d'avoir d'abord bien compris celui-ci",timeout:'2000' }; 
			 optionArray[3]= {item:'#retourMenuBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton pour retourner \340 la page d'accueil" };
			 optionArray[4]= {item:'#coursPrecedBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau inf\351rieur"};
			 
			
			clippyAgent(optionArray,"Lis attentivement ce cours",8000);
				
            }); </script>
{% endblock javascripts %} 

