{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme respiratoire CM1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme respiratoire (CM1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CE2'}) }}">Cours precedent (CE2)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CM2'}) }}">Cours suivant (CM2)</a>{% endblock coursSuivant %}
	<div id="global">
		<h1> Le trajet de l'air </h1>
		
		<span>
		L'air inspir&eacute; entre dans notre corps par le nez ? ou par la bouche ? Il passe ensuite dans la trach&eacute;e art&egrave;re ? 
		et dans les deux poumons ? Dans chaque poumon, l'air va dans une bronche ? puis dans les bronchioles ? 
		et enfin dans les alv&eacute;oles pulmonaires ? o&ugrave; ont lieu les &eacute;changes gazeux ? 
		L'air expir&eacute; suit le trajet inverse puis ressort par la bouche ou par le nez.
		</span>
		
		<div class="boiteImgCours"><img src="/css/img/cours/trajet_air.png"/></div>
		
		<h1> Les mouvements respiratoires </h1>
		<span>
		La respiration est un acte automatique, on n'y r&eacute;fl&eacute;chit pas, c'est naturel. Pendant l'inspiration, l'air entre, gonfle les poumons gr&acirc;ce aux contractions du diaphragme ? et des muscles de la cage thoracique. 
		Puis les poumons se d&eacute;gonflent, c'est l'expiration, la cage thoracique s'abaisse et l'air sort des poumons. Le diaphragme se rel&acirc;che.
		</span>
		
		<h1> Les &eacute;changes gazeux </h1>
		<span>
		Les &eacute;changes gazeux se font au niveau des alv&eacute;oles pulmonaires. Elles ressemblent &agrave; des petits sacs minuscules. Dans ces alv&eacute;oles, le dioxyg&egrave;ne de l'air passe dans le sang pour alimenter tous les organes du corps. 
		Notre corps produit quant &agrave; lui du dioxyde de carbone qui transportait du sang vers les poumons pour &ecirc;tre ensuite rejet&eacute; lors de l'expiration.
		</span>
		<div class="boiteImgCours"><img src="/css/img/cours/bronchiole.png"/></div>
		
		<h1>Pourquoi cet &eacute;change ?</h1>
		<span>
		L'oxyg&egrave;ne contenu dans le sang alimente nos muscles qui en ont besoin pour fonctionner (pour br&ugrave;ler les calories). Lorsque l'air a &eacute;t&eacute; consomm&eacute; par les muscles, il est transform&eacute; en gaz carbonique que le corps ne peut pas garder : il est donc rejet&eacute; dans l'air.  Plus les muscles travaillent, plus ils ont besoin de calories et donc d'oxyg&egrave;ne, plus le rythme cardiaque s'acc&eacute;l&egrave;re.
		L'air p&eacute;n&egrave;tre dans les  poumons gr&acirc;ce &agrave; des tubes de plus en plus fins qui se terminent par des alv&eacute;oles pulmonaires.
			L'air expir&eacute; n'a pas la m&ecirc;me composition que l'air inspir&eacute;. Un &eacute;change gazeux se fait dans les  alv&eacute;oles pulmonaires: une partie de l'oxyg&egrave;ne contenu dans l'air inspir&eacute; passe dans le sang, et en &eacute;change, le sang se d&eacute;charge de son gaz carbonique.
		</span>
		
		<h1>Qu'est ce qu'il y a dans l'air ?</h1>
		<span>
		L'air que je respire est compos&eacute; de dioxyg&egrave;ne (O2), d'azote (N) en grande quantit&eacute; et de dioxyde de carbone (CO2) en quantit&eacute; minime.
		</span>
		
		<div class="boiteImgCours"><img src="/css/img/cours/composition_air.png"/></div>
		
		<span>
		On remarque que l'air expir&eacute; est plus pauvre en dioxyg&egrave;ne et plus riche en dioxyde de carbone que l'air inspir&eacute;. 
		L'inspir&eacute; quant &agrave; lui est riche en dioxyg&egrave;ne et pauvre en dioxyde de carbone.
		L'azote est d'aucune utilit&eacute; pour le corps, il entre et sort en quantit&eacute; &eacute;gale.
		Lors d'un effort physique important, nos muscles ont davantage besoin d'oxyg&egrave;ne.
		En m&ecirc;me temps, ils produisent plus de dioxyde de carbone, il faut donc respirer plus vite pour apporter plus d'oxyg&egrave;ne et &eacute;vacuer davantage de dioxyde de carbone.
		
		</span>
		
		<div class="boiteImgCours"><img src="/css/img/cours/consomation.png"/></div>
		
	<div id="boiteBonus">
		<div id="boiteExo">
			<h1>Entraine toi sur les exercices du niveau CM1!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Qcm' ,'idTheme': 'La_respiration' ,'idNiveau':'CM1'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="/css/img/QCM.png"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>QCM</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Pendu' ,'idTheme': 'La_respiration' ,'idNiveau':'CM1'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="{{asset('/css/img/Pendu.png')}}"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PENDU</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Puzzle' ,'idTheme': 'La_respiration' ,'idNiveau':'CM1'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							    <img src="/css/img/Puzzle.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PUZZLE</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
		<div id="boiteMedia">
			<h1>Continu &agrave; apprendre &agrave; la r&eacute;cr&eacute;ation!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'videos'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="/css/img/videos.gif"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>VIDEOS</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'lectures' })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="/css/img/lecture.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>LECTURES</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'jeux'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="/css/img/jeux.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>BOITE A JEUX</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
	</div>	
	</div>
{% endblock body %}
{% block javascripts %}
  
        <script src="{{ asset('/bundles/flobenanatomeasy/js/clippyTools.js') }}" type="text/javascript" ></script> 
        <script type="text/javascript">     
            $(document).ready(function() { 
                var optionArray= new Array(); 
               optionArray[0]= { action: 'speak', speech: "Lorsque tu auras termin\351, tu peux t\'entrainer sur l\'un des exercices en bas de page",timeout:'2000' }; 
			// optionArray[0]= {item:'#retourMenuBoxImg', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup&eacute;rieur, attention, assure toi d'avoir d'abord bien compris ce cours" };
			 optionArray[1]= {item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup\351rieur"};
			 optionArray[2]= { item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Attention, assure toi d'avoir d'abord bien compris celui-ci",timeout:'2000' }; 
			 optionArray[3]= {item:'#retourMenuBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton pour retourner \340 la page d'accueil" };
			 optionArray[4]= {item:'#coursPrecedBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau inf\351rieur"};
			 
			
			clippyAgent(optionArray,"Lis attentivement ce cours",8000);
				
            }); </script>
{% endblock javascripts %} 
