{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme respiratoire CM2{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme respiratoire (CM2){% endblock titreCours %}
	{% block coursPrecedent %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_respiratoire" ,'idNiveau':'CM1'}) }}">Cours precedent (CM1)</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="">Tu as finis</a>{% endblock coursSuivant %}
	<div id="global">
	<h1>L'appareil respiratoire</h1>
	<span>
		La respiration est le ph&eacute;nom&egrave;ne cellulaire qui correspond &agrave; la r&eacute;action m&eacute;tabolique de l&acute;O2, qui
		va aboutir &agrave; la production de CO2 et la lib&eacute;ration d&acute;&eacute;nergie. Cette r&eacute;action est li&eacute;e au
		fonctionnement du syst&egrave;me respiratoire qui permet les &eacute;changes gazeux avec le milieu ext&eacute;rieur.
		L&acute;air va rentrer dans l&acute;organisme par les voies a&eacute;riennes, c&acute;est l&acute;inspiration, et ressortir de la
		m&ecirc;me fa&ccedil;on, c&acute;est l&acute;expiration. Ces deux mouvements, sont assur&eacute;s par l&acute;aide des muscles
		respiratoires.
		La r&eacute;gulation des mouvements est assur&eacute;e au niveau du cerveau par des centres respiratoires
		situ&eacute;s dans le bulbe rachidien. Ces centres fonctionnent de mani&egrave;re automatique et adaptent la
		contraction et le rel&acirc;chement des muscles en fonction de la composition du sang et des besoins
		m&eacute;taboliques de l&acute;organisme.
		Le syst&egrave;me respiratoire est form&eacute; par :

		<ul>
		<li>Les voies a&eacute;riennes, conduits assurant la communication entre les poumons et l&acute;air atmosph&eacute;rique</li>
		<li>Les muscles respiratoires assurant les mouvements des structures thoraciques responsables de l&acute;entr&eacute;e et la sortie d&acute;air dans les voies respiratoires</li>
		<li>Les poumons, organe d &acute;&eacute;changes gazeux entre le sang et l&acute;air atmosph&eacute;rique</li>
		</ul>
	</span>
	<div class="boiteImgCours"><img src="/css/img/cours/resumeRespiration.png"/></div>
	<h1>Les voies a&eacute;riennes</h1>
	<span>
		L&acute;air p&eacute;n&egrave;tre dans l&acute;organisme par le nez et la bouche, cavit&eacute;s qui d&eacute;bouchent dans le
		pharynx, conduit respiratoire et digestif. Il se divise en deux conduits :

		<ul>
		<li>&agrave; l&acute;avant, le conduit respiratoire repr&eacute;sent&eacute; par le larynx qui se poursuit par la trach&eacute;e.</li>
		<li>&agrave; l&acute;arri&egrave;re, l&acute;oesophage, voie de passage des aliments.</li>
		</ul>
		Au moment du passage de l&acute;air, il y a une obstruction des voies a&eacute;riennes r&eacute;alis&eacute;e par le
		rapprochement des cordes vocales, replis du larynx, et l&acute;abaissement de l&acute;&eacute;piglotte, replis
		membraneux qui ferme l&acute;ouverture de la trach&eacute;e.
		La trach&eacute;e se divise en deux bronches souches droite et gauche qui se subdivisent elles-m&ecirc;mes en
		bronches lobaires jusqu&acute;aux bronchioles terminales. Ce qui correspond &agrave; des tubes ramifi&eacute;s de plus
		en plus nombreux et de plus en plus &eacute;troits et de plus en plus courts.
		Le volume moyen des voies a&eacute;riennes et des cavit&eacute;s alv&eacute;olaires est de 2 litres et demi lorsque le
		poumon est au repos.
	
	</span>
	
	<h1>Les muscles respiratoires</h1>
	<span>
			L&acute;entr&eacute;e de l&acute;air est assur&eacute;e par les mouvements involontaires de muscles respiratoires.
		La fonction de ces muscles est d&acute;assurer les variations de dimension de la cavit&eacute; thoracique dans
		laquelle sont log&eacute;s les poumons.
		Le thorax est un compartiment ferm&eacute; limit&eacute; par les côtes qui s&acute;articulent &agrave; l&acute;arri&egrave;re sur la colonne et
		devant le sternum, ils sont recouverts par des muscles.
		Cette cage est ferm&eacute;e &agrave; sa partie inf&eacute;rieure par un muscle : le diaphragme. Le diaphragme est le
		muscle le plus important. Sa contraction provoque l&acute;augmentation de la hauteur de la cage thoracique
		et l&acute;&eacute;cartement des côtes inf&eacute;rieures.
		Les muscles respiratoires sont les muscles dont la contraction entra&icirc;ne une variation des dimensions
		de la cage thoracique. Ils sont divis&eacute;s en deux cat&eacute;gories :
		<ul>
		<li>les muscles respiratoires principaux : le diaphragme </li>
		<li>les muscles intercostaux externes dont la contraction augmente le diam&egrave;tre lat&eacute;ral.</li>
		<li>Les muscles respiratoires accessoires : les muscles inspiratoires qui augmentent les dimensions de la cage thoracique</li>
		<li>les muscles expiratoires qui diminuent les dimensions de la cage thoracique.</li>
		</ul>	
	</span>
	<div class="boiteImgCours"><img src="/css/img/cours/muscleRespiration.png"/></div>

	<h1>Les poumons</h1>
	<span>
		Les poumons sont compos&eacute;s de deux sacs de tissus souples log&eacute;s dans le thorax qu&acute;ils occupent
		enti&egrave;rement avec le coeur, les gros vaisseaux et certains nerfs. Ils sont s&eacute;par&eacute;s en lobes, deux &agrave;
		gauche et trois &agrave; droite, qui sont s&eacute;par&eacute;s par des cloisons fibreuses. Le tissu conjonctif &eacute;lastique qui
		structure les poumons contient 600 millions d&acute;alv&eacute;oles.
		Les alv&eacute;oles sont limit&eacute;es par une paroi tr&egrave;s mince : la membrane alv&eacute;olaire, qui est entour&eacute;e d&acute;un
		r&eacute;seau de capillaire abondant : les capillaires alv&eacute;olaires. Les capillaires alv&eacute;olaires appartiennent &agrave;
		la circulation pulmonaire issue de l&acute;art&egrave;re pulmonaire, ils re&ccedil;oivent la totalit&eacute; du sang veineux du
		ventricule droit.

	</span>

	<h1>Les &eacute;changes gazeux</h1>
	<span>
		Les &eacute;changes gazeux entre l&acute;air contenu dans les alv&eacute;oles (l&acute;air alv&eacute;olaire) et le sang circulant dans
		les capillaires alv&eacute;olaires se font au niveau de la membrane alv&eacute;olaire.
		La zone d&acute;&eacute;change est structur&eacute;e de la fa&ccedil;on suivante : la paroi alv&eacute;olaire est form&eacute;e par une couche
		unique de cellules, s&eacute;par&eacute;e du r&eacute;seau capillaire par une couche tr&egrave;s fine de tissu conjonctif. Les
		cellules des parois capillaires sont donc pratiquement accol&eacute;es aux cellules des parois alv&eacute;olaires.
	</span>

	<span>
		Pour fonctionner correctement, la machinerie cellulaire utilise l'oxyg&egrave;ne comme un v&eacute;ritable
		combustible permettant de produire et de stocker de l'&eacute;nergie. Cette &eacute;nergie servira dans toutes
		sortes de r&eacute;actions n&eacute;cessaires &agrave; la vie.
		L'oxyg&egrave;ne est apport&eacute; aux cellules gr&acirc;ce au sang. La cellule consomme de l&acute;oxyg&egrave;ne et produit
		parmi ses d&eacute;chets du gaz carbonique. L&acute;oxyg&egrave;ne doit lui &ecirc;tre amen&eacute; par le sang, et le gaz
		carbonique doit &ecirc;tre &eacute;vacu&eacute; par la m&ecirc;me voie.
		Au niveau des alv&eacute;oles pulmonaires, le sang passe par de tr&egrave;s fins capillaires. Les
		diff&eacute;rences de pression gazeuse entre le sang et l&acute;air alv&eacute;olaire favorisent les &eacute;changes.
		En effet, l&acute;air alv&eacute;olaire est riche en oxyg&egrave;ne et pauvre en gaz carbonique, tandis que la
		r&eacute;partition est inverse au niveau du sang veineux arrivant autour de l&acute;alv&eacute;ole. Pour les
		deux gaz, le passage se fait d&acute;une pression &eacute;lev&eacute;e vers une pression basse. C&acute;est la
		diffusion des gaz. Le sang qui s&acute;&eacute;loigne de l&acute;alv&eacute;ole s&acute;est donc enrichi en O2 et
		appauvri en CO2.
	</span>
	<div class="boiteImgCours"><img src="/css/img/cours/resumePoumons.png"/></div>
	<div id="boiteBonus">
		<div id="boiteExo">
			<h1>Entraine toi sur les exercices du niveau CM2!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Qcm' ,'idTheme': 'La_respiration' ,'idNiveau':'CM2'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="/css/img/QCM.png"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>QCM</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Pendu' ,'idTheme': 'La_respiration' ,'idNiveau':'CM2'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="{{asset('/css/img/Pendu.png')}}"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PENDU</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Puzzle' ,'idTheme': 'La_respiration' ,'idNiveau':'CM2'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							    <img src="/css/img/Puzzle.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PUZZLE</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
		<div id="boiteMedia">
			<h1>Continu &agrave; apprendre &agrave; la r&eacute;cr&eacute;ation!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'videos'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="/css/img/videos.gif"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>VIDEOS</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'lectures' })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="/css/img/lecture.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>LECTURES</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'jeux'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="/css/img/jeux.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>BOITE A JEUX</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
	</div>	
	</div>
{% endblock body %}
{% block javascripts %}
  
        <script src="{{ asset('/bundles/flobenanatomeasy/js/clippyTools.js') }}" type="text/javascript" ></script> 
        <script type="text/javascript">     
            $(document).ready(function() { 
                var optionArray= new Array(); 
               optionArray[0]= { action: 'speak', speech: "Lorsque tu auras termin\351, tu peux t\'entrainer sur l\'un des exercices en bas de page",timeout:'2000' }; 
			// optionArray[0]= {item:'#retourMenuBoxImg', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup&eacute;rieur, attention, assure toi d'avoir d'abord bien compris ce cours" };
			 optionArray[1]= {item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup\351rieur"};
			 optionArray[2]= { item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Attention, assure toi d'avoir d'abord bien compris celui-ci",timeout:'2000' }; 
			 optionArray[3]= {item:'#retourMenuBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton pour retourner \340 la page d'accueil" };
			 optionArray[4]= {item:'#coursPrecedBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau inf\351rieur"};
			 
			
			clippyAgent(optionArray,"Lis attentivement ce cours",8000);
				
            }); </script>
{% endblock javascripts %} 