{% extends "FloBenAnatomEasyBundle:Student/Cours:studentCoursBarre.html.twig" %}

{% block title %}Le systeme digestif CE1{% endblock title %}
{% block body %}

{{ parent() }}
	{% block titreCours %}Le systeme digestif (CE1){% endblock titreCours %}
	{% block coursPrecedent %}<a href="">c'est la d&eacute;but</a>{% endblock coursPrecedent %}
	{% block coursSuivant %}<a href="{{path('anatomeasy_student_cours', {'idCours': "le_systeme_digestif" ,'idNiveau':'CE2'}) }}">Cours suivant (CE2)</a>{% endblock coursSuivant %}
	<div id="global">
		<h1>Les aliments qu&apos;est-ce que c&apos;est?</h1>
		<span>
			Tous les aliments que je mange proviennent : 
			<ul>
				<li>Soit des animaux : la viande, les oeufs ou le lait. </li>
				<li>Soit des v&eacute;g&eacute;taux : les l&eacute;gumes, les fruits , c&eacute;r&eacute;ales.</li>
			</ul>
			Certains se mangent crus, d&apos;autres se mangent cuits. L&apos;eau que je bois, par contre, ne vient ni d&apos;un animal, ni d&apos;un v&eacute;g&eacute;tal. On la trouve dans la nature.
			Pour classer les aliments, on les s&eacute;pare en 6 familles : 
			<ul>
			<li>La famille des viandes, &#156;ufs et poissons.</li>
			<li>La famille des fruits et l&eacute;gumes.</li>
			<li>La famille des f&eacute;culents  (pain, c&eacute;r&eacute;ales, pommes de terre ...).</li>
			<li>La famille des mati&egrave;res grasses (huile, beurre, sucreries ...).</li>
			<li>La famille des produits laitiers (lait, fromages, yaourts ... ).</li>
			<li>La famille des boissons</li>
			</ul>
			Pour &ecirc;tre en bonne sant&eacute;, je dois manger des aliments de chaque famille :
			<ul>
			<li>Des fruits et l&eacute;gumes, des produits laitiers, des f&eacute;culents &agrave; chaque repas.</li>
			<li>De la viande, du poisson ou des &#156;ufs une fois par jour.</li>
			<li>Les produits gras et sucreries ne sont pas n&eacute;cessaires tous les jours.</li>
			</ul>
		</span>
		
				<div id="boiteBonus">
		<div id="boiteExo">
			<h1>Entraine toi sur les exercices du niveau CE1!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Qcm' ,'idTheme': 'La_digestion' ,'idNiveau':'CE1'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="/css/img/QCM.png"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>QCM</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Pendu' ,'idTheme': 'La_digestion' ,'idNiveau':'CE1'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="{{asset('/css/img/Pendu.png')}}"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PENDU</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_exercices', {'idExercice': 'Puzzle' ,'idTheme': 'La_digestion' ,'idNiveau':'CE1'}) }}" >
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							    <img src="/css/img/Puzzle.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>PUZZLE</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
		<div id="boiteMedia">
			<h1>Continu &agrave; apprendre &agrave; la r&eacute;cr&eacute;ation!</h1>
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'videos'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							  <img src="/css/img/videos.gif"/>
						</div>
					</div>
						<div class="boitItemBonusText">
							<h2>VIDEOS</h2>
						</div>
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'lectures' })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="/css/img/lecture.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>LECTURES</h2>
						</div>
					</div>	
				</a>
			</div>
			
			<div class="boiteItemBonus">
				<a href="{{path('anatomeasy_student_recreation', {'idMedia': 'jeux'  })}}">
					<div class="boiteItemBonusTitre itemBonus">
						  <div class="boiteItemBonusImg">
							   <img src="/css/img/jeux.png"/>
						</div>
						<div class="boitItemBonusText">
							<h2>BOITE A JEUX</h2>
						</div>
					</div>	
				</a>
			</div>
		</div>
	</div>	
	</div>
{% endblock body %}
{% block javascripts %}
  
        <script src="{{ asset('/bundles/flobenanatomeasy/js/clippyTools.js') }}" type="text/javascript" ></script> 
        <script type="text/javascript">     
            $(document).ready(function() { 
                var optionArray= new Array(); 
               optionArray[0]= { action: 'speak', speech: "Lorsque tu auras termin\351, tu peux t\'entrainer sur l\'un des exercices en bas de page",timeout:'2000' }; 
			// optionArray[0]= {item:'#retourMenuBoxImg', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup&eacute;rieur, attention, assure toi d'avoir d'abord bien compris ce cours" };
			 optionArray[1]= {item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau sup\351rieur"};
			 optionArray[2]= { item:'#coursSuivantBox', event:'mouseenter', action: 'speak', speech: "Attention, assure toi d'avoir d'abord bien compris celui-ci",timeout:'2000' }; 
			 optionArray[3]= {item:'#retourMenuBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton pour retourner \340 la page d'accueil" };
			 optionArray[4]= {item:'#coursPrecedBox', event:'mouseenter', action: 'speak', speech: "Clique sur ce bouton si tu souhaites lire le cours du niveau inf\351rieur"};
			 
			
			clippyAgent(optionArray,"Lis attentivement ce cours",8000);
				
            }); </script>
{% endblock javascripts %} 
